$colors: (
  violet,
  wheat,
  whitesmoke,
  yellow,
  yellowgreen,
  turquoise,
  tomato,
  thistle,
  teal,
  tan
);

@for $i from 1 through length($colors) {
  .box-#{$i} {
    background-color: nth($colors, $i);
  }
}

body {
  padding: 0;
  margin: 0;
  width: auto;
  height: 100vh;

  .container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;

    .box {
      height: 100%;
      width: auto;
      flex-grow: 1;
      text-align: center;
      font-size: 60px;
      color: white;
      text-shadow: 5px 5px gray;
    }

    .box-3 {
      order: -1;
    }
    .box-2,
    .box-7 {
      order: 1;
    }
  }
}
